{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>Carleton P2P Video Conferencing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="initpage">
    {% block content %}
    
    {% endblock %}
    </body>
</html>
