     
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ludus</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        {% url "home" as home %}
        <li {% if request.path == home %} class="active" {% endif %}>
          <a href="{% url 'home' %}">Home</a>
          </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {%  if not request.user.is_authenticated %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% else %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </li>
      </ul>
    </div>
  </div>
</nav>