{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>

{% block content %}
<html lang="en">
<body id="initpage" id="guibody">
<div class="row">
	<div class="col-sm-12">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> Ludus</a>
        </div>
        <div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
        <li><a class="navbarli" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><img src='{% static "pictures/kramer.jpg" %}' class="img-circle" id="kramersm"></span> {{user.first_name}} {{user.last_name}}</a>
        <ul class="dropdown-menu">
	        {%  if not request.user.is_authenticated %}
	        <li><a href="{% url 'account_login' %}">Login</a></li>
	        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	        {% else %}
	        <li><a href="{% url 'account_logout' %}">Logout</a></li>
	        <li><a href="/profile">Profile</a></li>
	        {% endif %}
      </ul>
        <h4 id="uname">{{user.username}}</h4>
        <h4 id="firstname">{{user.first_name}}</h4>
        <h4 id="lastname">{{user.last_name}}</h4></li>
    </ul>
    </li>
</div>
    </div>
    </nav>
    </div>
</div>
	<!-- Main Block for UI -->
    <div id="sublock" class="row">
        <div class="col-sm-2" id="coursebar">
        	<h2>Course List</h2>
        	<!-- List where classes are added-->
        	<ul class="courses">
        	</ul>
        	<button class="btn btn-default createbtn">Add New Course</button>
        	<!-- Dropdown list where prof can start class-->
        </div>
        <!-- Center Block with Welcome Message-->
        <div class="col-sm-8"><div id="welcome">
        	<div class="welmsg"><img src='{% static "pictures/kramer.jpg" %}' class="img-circle"  id="kramer"></div>
        	<div class='welmsg'>
        		<h1>Welcome {{user.first_name}}!</h1>
        		<h3>Start a lecture for a course you have added or enable video conferencing with the buttons below!</h3>
        	</div>
        	<div class='conmodemsg'>
        		<h2 class='conmodemsg'>You are now ready to invite your classmates to video chat! Simply click on their names on the side bar to invite them to a video conferencing session.</h2>
        		<button class='btn btn-default bkbtn' id='bkbtn'>Go Back</button>
        	</div>
            <div id="videoContainer">
        		<video id="Video1"></video>
        		<video id="localVideo"></video>
        		<video id="Video2"></video>
        		<video id="Video3"></video>
        		<video id="Video4"></video>
        		<video id="Video5"></video>
            </div>
            <!-- Prompt when adding new Classes -->
            <div id="createcourse">
            	<div class="form-group">
            		<span class="glyphicon glyphicon-remove" id='xcreate'></span> 
                	<label for="newcourse">What is the code for this new course?</label>
                	<input type="text" class="form-control" id="newcourse">
            	</div>
            	<button class = "btn btn-default ncbtn">Create</button>
            </div>
            <!-- Form to start Group Conference (may take out)-->
            <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle startclass" type="button" data-toggle="dropdown">Start Lecture
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu classes">
			  </ul>
			</div>
			<button class='btn btn-default chngbtn' id="chngbtn">Conference Mode</button>
			<button class="btn btn-default endbtn" id="endbtn">Leave Group Chat</button>
        </div></div>
        <div class="col-sm-2" id="friendbar">
            <!-- List of all Student in Database minus self -->
        	<h2>Students</h2>
        	<u1 class="friendlist" id='friendlist'>
	        	{% if queryset %}
	        	{% for object in queryset %}
	        	{% if object != user %}
	        	<li class='friend'>
		        	{{object.first_name}}
		        	{{object.last_name}}
		        	<h4>{{object.username}}</h4>
	        	</li>
	        	{% endif %}
	        	{% endfor %}
	        	{% endif %}
            </ul>
            <!-- Opens Chat Box-->
        	<button class='btn btn-default sndmsg'>Send Message</button>
        	<!-- Chat Box for Messaging Students who are Online-->
        	<div id = 'chatbox'>
                <span class="glyphicon glyphicon-remove" id='xmsg'></span> 
                <ul id="messages"></ul>
                <form id="chatform" action="">
                    <input id="msg" autocomplete="off" /><button class='btn btn-default sndbtn' id='sndbtn'>Send</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Screen Change for Entering a Class-->
    <div id="classblock" class="row">
        <div class="col-sm-3" id="coursebar">
        	<h2>Classmates</h2>
            <ul class="classmates">
            </ul>
            <div id = 'classchatbox'>
                <ul id="classmessages"></ul>
                <form id="classchatform" action="">
                    <input id="classmsg" autocomplete="off" /><button class='btn btn-default csndbtn' id='csndbtn'>Send</button>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="classview">
        	   <h1 id="coursecode">ECOR 4995</h1>
        	   <video id="profvid"></video>
        	   <video id="studentvid" muted="muted"></video>
        	   <h3 id="profname"></h3>
        	   <button class="btn btn-default lvbtn" id="lvbtn">Leave Class</button>
            </div>
            <div id="qblock"></div>
        </div>
    </div>
    <!-- Scripts for SIP.js and WebSockets-->
    <script src="../static/js/sip-0.7.3.js"></script>
    <!-- Change local host to location of running server-->
    <script src="http://localhost:8080/socket.io/socket.io.js"/></script>
    <script src="../static/js/clienthandler.js"></script>
</body>
</html>
{% endblock %}


