/* 
    Created on : 23-Sep-2015, 8:31:16 PM
    Author     : Mat
*/
#initpage {
    background-image: url("http://communityresearchcanada.ca/res/imageland//4028686.jpg");
    background-size: 1600px 800px;
}

#guibody {
	margin-right:-20px;
	margin-left:-20px;
	padding-right:0;
}

#raven {
	block: inline;
    height: 400px;
    width: 400px;
    margin-top: 180px;
    margin-left: 35%;
}

.nav.navbar-nav li a {
    color: #33CC33;
}

#signup {
    background-color: #007D2A;
}

#subox {
    margin-top: 150px;
    width: auto;
    height: 430px;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

#libox {
    margin-top: 150px;
    width: auto;
    height: 280px;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

button.btn.btn-default {
    margin-top: 20px;
    text-align: center;
    color: #E4E4E4;
    background-color: #007D2A; 
    margin-left: 42%;
}

#friendbar { 
	padding: 15px;
	margin-top: 70px;
	height: 555px;
	background-color: #171717;
	border: 1px #999999 solid;
}

#coursebar { 
	padding: 15px;
	margin-top: 70px;
	height: 555px;
	width: auto - 2px;
	background-color: #171717;
	border: 1px #999999 solid;
}

#welcome {
	margin-top: 150px;
    width: auto;
    height: auto;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 40px;;
}

#kramersm {
	width: 40px;
	height: 40px;
}

h1 {
	text-align: center;
	color: #999999;
}

h2 {
	text-align: center;
	color: #999999;
}

#kramer {
	margin-left: 37%;
	width: 200px;
	height:200px;
	align-self: center;
}