/* 
    Created on : 23-Sep-2015, 8:31:16 PM
    Author     : Mat
*/
body {
    padding: 0px;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

#initpage {
    background-image: url(../pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#guibody {
    margin-right:-20px;
    margin-left:-20px;
    padding-right:0;
}

#raven {
    display: block;
    height: 400px;
    width: 400px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.nav.navbar-nav li a {
    color: #33CC33;
}

#signup {
    background-color: #007D2A;
}

#subox {
    margin-top: 80px;
    width: auto;
    height: 430px;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

#logoutbox {
    margin-top: 80px;
    width: auto;
    height: 200px;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

#signupbox {
    margin-top: 60px;
    width: auto;
    height: 490;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

#loginbox {
    margin-top: 80px;
    width: auto;
    height: 250;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}
#libox {
    margin-top: 80px;
    width: auto;
    height: 280px;
    background-color: #171717;
    /*border: 3px solid #838383;*/
    border-radius: 20px;
    color: #898989;
    padding: 20px;
}

button.btn.btn-default {
    color: #E4E4E4;
    background-color: #007D2A; 
    border: 0px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#friendbar { 
    height: 90vh;
    padding: 15px;
    background-color: #171717;
    border: 1px #999999 solid;
    position: relative;
}

#coursebar { 
    height: 90vh;
    padding-top: 15px;
    background-color: #171717;
    border: 1px #999999 solid;
    position: relative;
}

#welcome {
    padding: 20px;
    margin-top: 13vh;
    width: auto;
    height: 70vh;
    background-color: #171717;
    border-radius: 20px;
    color: #898989;
    margin-bottom: 30px;
    position: relative;
}

#classview {
    padding: 20px;
    margin-top: 2vh;
    width: auto;
    height: 450px;
    background-color: #171717;
    border-radius: 20px;
    color: #898989;
    margin-bottom: 30px;
    position: relative;
}

#kramersm {
    width: 40px;
    height: 40px;
}

h1 {
    text-align: center;
    color: #999999;
}

h2 {
    text-align: center;
    color: #999999;
}

h3 {
    color: #999999;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#kramer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
}

.friend {
    margin-left: 20px; 
    color: #999999;
}

h4 {
    display: none;
    visibility: hidden;
}

li.course {
    color: #999999;
}

.videoContainer {
    position: relative;
}

.remoteVid {
    display: none;
    height: 500px;
    width: 600px;
    left: 50%;
    margin-top: -10px;
    margin-left: -300px;
    margin-right: auto;
    position: absolute;
}

.localVid {
    display: none;
    height: 100px;
    width: 120px;
    left: 50%;
    margin-top: 10px;
    margin-left: -300px;
    position: absolute;
}

#chatbox {
    border: 1px solid white;
    background-color: #171717;
    padding: 5px;
    width: 300px;
    height: 270px;
    left: 0%;
    margin-left: -20vw;
    margin-top: 4vh;
    position: absolute;
    display: none;
}

#classchatbox {
    background-color: #171717;
    padding: 5px;
    width: 320px;
    height: 240px;
    right: 0%;
    bottom: 0%;
    margin-right: 0px;
    margin-bottom: 2vh;
    position: absolute;
    border-top: 1px solid #999999;
}

.sndmsg {
    margin-top: 100px;
}

#msg {
    display: inline;
    margin-top: -10px;
    padding-right: 5px;
    width: 235px;
}

#csndbtn {
    display: inline;
    padding-left: 5px;
}

#classmsg {
    display: inline;
    margin-top: -10px;
    padding-right: 5px;
    width: 258px;
}

#sndbtn {
    display: inline;
    padding-left: 5px;
}

.glyphicon-remove {
    margin-left: 270px;
    color: #999999;
}

#messages {
    height: 200px;
    width: 315px;
    margin-left: -30px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
}

#classmessages {
    height: 190px;
    width: 342px;
    margin-left: -30px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
}

#friendlist {
    display: block;
    height: 100px;
    margin-bottom: 20px;
}

#endbtn {
    display: none;
    visibility: hidden;
    left: 46%;
    top: 0%;
    margin-top: 495px;
    margin-left: -50px;
    position: absolute;
}

.active {
    color: #33CC33;
}

.busy {
    color: #fa4a1e;
}

#conform {
    display: none;
}

#strt {
    position: absolute;
    display: inline-block;
    margin-top: 40px;
    left: 40%;
    margin-left: -50px;
    width: 100px;
}

#gobck {
    position: absolute;
    display: inline-block;
    margin-top: 40px;
    left: 60%;
    margin-left: -50px;
    width: 100px;
}

#createcourse {
    border: 1px solid white;
    background-color: #171717;
    padding: 20px;
    padding-top: 10px;
    width: 320px;
    height: 200px;
    position: absolute;
    margin-top: 30px;
    top: 0%;
    left: 50%;
    margin-left: -150px;
    display: none;
}

.createbtn {
    margin-top: 100%;
    width: 140px;
}

.chngbtn {
    position: absolute;
    margin-top: 10px;
    width: 140px;
    left : 56%;
}

.startclass {
    position: absolute;
    top: 0%;
    margin-top: 10px;
    width: 140px;
    left: 27%;
}

ul.classes {
    background-color: #171717;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    margin-left: -82px;
}

li.coursedd {
    background-color: #171717;
    text-align: center;
    color: #fa4a1e;
    font-weight: bold;
    margin-top: 5px;
}

#classview {
    position: relative;
    padding: 5px;
    margin-top: 5vh;
    width: auto;
    height: 80vh;
    background-color: #171717;
    border-radius: 20px;
    color: #898989;
    margin-bottom: 30px;
}

#classblock {
    display: none;
    position: relative;
}

.videoContainer {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    display: none;
}

video {
    display: none;
    width: 30vw;
    height: 34vh;
}

#waitpic {
    position: absolute;
    left: 50%;
    width: 30vw;
    height: 40vh;
    margin-left: -15vw;
}

#profname {
    position: absolute;
    top: 0%;
    text-align: center;
    margin-top: 72vh;
    left: 2%;
    margin-left: -10vw;
}

#studentvid {
    display: none;
}

#profvid {
    position: absolute;
    top: 0%;
    margin-top: 11vh;
    left: 50%;
    margin-left: -20vw;
    height: 60vh;
    width: 40vw;
}

#lvbtn {
    position: absolute;
    margin-top: 72vh;
    top: 10px;
    left: 45%;
}

.conmodemsg {
    display: none;
    margin-top: 100px;
}

.bkbtn {
    margin-top: 20px;
}

