{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<body id="initpage">
<div id="sublock" class="row">
        <div class="col-sm-3 col-sm-offset-4"></div>
        <div class="col-sm-3 col-sm-offset-4"><div id="logoutbox">
           {% include 'navbar.html' %}

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-default" type="submit">{% trans 'Logout' %}</button>
</form>
        </div></div>
        <div class="col-sm-3 col-sm-offset-4"></div>
  </div>
</body>

{% endblock %}
