{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
       {% include 'navbar.html' %}
<body id="initpage">
<div id="sublock" class="row">
        <div class="col-sm-4 col-sm-offset-4"></div>
        <div class="col-sm-4 col-sm-offset-4"><div id="signupbox">
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form |crispy }}
  <button class='btn btn-default'type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
        </div></div>
        <div class="col-sm-4 col-sm-offset-4"></div>
  </div>
</body>
{% endblock %}
